@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

body{
    text-align: center;
    font-family: 'Electrolize', sans-serif;
    background-image: linear-gradient(to bottom right, lightblue, white);
}

h1{
    letter-spacing: 10px;
}

.header-icon{
    color:blue;
}
#home-page{
    width:60%;
    border-style: solid;
    border-radius:10px;
    background-image: linear-gradient(to bottom right, lightgreen, green);
    padding:15px;
    box-shadow: 5px 5px green;
}
#settings{
    width:50%;
}

#username{
    width:60%;
}
#game-page{
    display:none;
    width:50%;
    border-style: solid;
    border-radius:10px;
    background-image: linear-gradient(to bottom right, lightgreen, green);
    box-shadow: 5px 5px green;; 
}

#about, #instructions, #settings{
    border-style: solid;
    border-color: grey;
    box-shadow: 5px 5px green;
    padding:10px;
}


#prompt-area{
    height:40px;
}

.vertical-margin{
    margin-top:20px;
    margin-bottom:20px;
}

.horizontal-margin-single{
    margin-left:auto;
    margin-right:auto;
}


#game-table td{
    padding:40px;
    background-color:cadetblue;
    border: 2px solid;
    border-radius: 30%;
    box-shadow: 5px 5px green;
}

#score-area .fa-solid{
    padding:30px;
}


#guess-again{
    margin:15px;
}

 /* toggle in label designing */
    .toggle {
        position : relative ;
        display : inline-block;
        width : 100px;
        height : 52px;
        background-color:lightgray;
        border-radius: 30px;
        border: 2px solid gray;
    }
           
    /* After slide changes */
    .toggle:after {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: gray;
        top: 1px;
        left: 1px;
        transition:  all 0.5s;
    }
           
           
    /* Checkbox checked effect */
    .checkbox:checked + .toggle::after {
        left : 49px;
    }
           
    /* Checkbox checked toggle label bg color */
    .checkbox:checked + .toggle {
        background-color: lightgray;
    }
           
    /* Checkbox vanished */
    .checkbox {
        display : none;
    }
   
#gold{
    color:gold;
} 

#silver{
    color:silver;
} 

#bronze{
    color:#cd7f32;
}
  
  
#leaderboard td, #leaderboard th{
    padding:15px;
}

button{
    font-family: 'Electrolize', sans-serif;
    border-style: solid;
    width:100px;
    height:40px;
    font-weight: bold;
    box-shadow: 1px 1px grey;
}

#leaderboard,#found-table{
    border-style: solid;
    background-image: linear-gradient(to bottom right, lightgreen, green);
    box-shadow: 5px 5px green;
}

#leaderboard {
    width:60%;
}



/*Media queries for game page*/
@media only screen and (max-width: 570px) {
    #game-table td {
        padding:25px;
    }
    #score-area .fa-solid{
        padding:20px;
    }
  }

  @media only screen and (min-width: 2000px) {
    #game-page {
       font-size:x-large;
    }
}
@media only screen and (max-width: 1400px) {
    #game-page {
        width:75%;
    }
  }
  @media only screen and (max-width: 980px) {
    #game-table td {
        padding:25px;
    }
    #score-area .fa-solid{
        padding:16px;
    }
  }    
  @media only screen and (max-width: 800px) {
    #game-table td {
        padding:15px;
        font-size: small;
    }
    #score-area .fa-solid{
        padding:12px;
        font-size:medium;
    }
  } 
  @media only screen and (max-width: 600px) {
    #game-table td {
        padding:12px;
        font-size: x-small;
    }
    #score-area .fa-solid{
        padding:5px;
        font-size:small;
    }
  } 

  @media only screen and (max-width: 450px) {
    #game-table td {
        padding:7px;
        font-size: xx-small;
    }
    #leaderboard td, #leaderboard th{
        padding:8px;
    }

  }      

/*Media queries for home page*/
  @media only screen and (min-width: 2000px) {
    #home-page {
        font-size:x-large;
    }
  }
@media only screen and (max-width: 1040px) {
    #home-page {
        font-size:small;
    }
  }
  @media only screen and (max-width: 1300px) {
    #home-page {
        width:75%;
    }
  }
  @media only screen and (max-width: 810px) {
    #home-page {
        width:90%;
    }
  }
  @media only screen and (max-width: 530px) {
    .toggle {
        width:60px;
        height:32px;
    }
    .toggle:after{
        width:30px;
        height:30px;
    }
    .checkbox:checked + .toggle::after {
        left : 29px;
    }
  }
