body{
    text-align: center;
}

.vertical-margin{
    margin-top:20px;
    margin-bottom:20px;
}

.horizontal-margin-single{
    margin-left:auto;
    margin-right:auto;
}


#game-table td{
    padding:40px;
    background-color:cadetblue;
    border: 2px solid;
    border-radius: 30%;
}

#score-area .fa-solid{
    padding:30px;
}

#prompt-area{
    height:50px;
    border-color: grey;
    border-style: solid;
    width:12%;
    border-radius: 40%;
}

#guess-again{
    margin:15px;
}




